[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# List any Python dependencies for the image here
[packages]
# This should match the version of the image
example = {file = "https://github.com/cisagov/skeleton-python-library/archive/v0.2.2.tar.gz"}

# This version should match the version of Python in the image
[requires]
python_full_version = "3.13.5"
